:root {
  --brand-color: #2196f3;
  --main-bcg-color: #ffffff;
  --filter-btn-color: #f5f4fa;
  --brand-text-color1: #212121;
  --brand-text-color2: #757575;
  --footer-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-text-color1);
  background-color: var(--main-bcg-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h3 {
  font-family: "Roboto", sans-serif;
  color: var(--brand-text-color1);
  background-color: var(--main-bcg-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--brand-text-color1);
}

img {
  display: block;
}

/* ---------- Шапка сайта (Хеддер) ---------- */

.conteiner {
  width: 1600px;
  margin: 0 auto;
}
.header__conteiner {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-left: 215px;
  margin-top: 24px;
}
.logo-web {
  color: var(--brand-color);
}
.logo-studio-top {
  color: var(--brand-text-color1);
}
.nav {
  display: flex;
  /* justify-content: flex-start; */
}
.nav__list {
  display: flex;
  margin-left: 91px;
  /* border: 1px solid tomato; */
}
.nav__link {
  font-family: "Roboto", sans-serif;
  color: var(--brand-text-color1);
  background-color: var(--main-bcg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
  /* text-align: center; */
}
.nav__link:focus,
.nav__link:hover {
  color: var(--brand-color);
}
.site-nav-info-top {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
  margin-right: 215px;
}
.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}
.auth-nav-item:hover,
.auth-nav-item:focus {
  color: var(--brand-color);
}
.auth-nav-item {
  padding-top: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.color-top {
  color: var(--brand-text-color2);
}
.active {
  color: var(--brand-color);
}
.top-line {
  background-color: #ececec;
  height: 1px;
}
/* ---------------------тестирую----------------------- */

/* --------------------протестировано----------------- */

/* .site-nav {
  display: flex;
  justify-content: center;
  margin: 32px 853px 32px 91px;
  height: 16px;
  width: 294px;
  height: 16px;
} */

.h3-title {
  color: var(--brand-text-color2);
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
}
/* ---------- Основной контент (Герой) ---------- */

.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--main-bcg-color);
  background-color: var(--brand-color);
}
.portfolio-btn {
  cursor: pointer;
}
.h1-hidden {
  display: none;
}

/* --------- Подвал сайта (Футтер) --------- */

.footer {
  padding-top: 60px;
  background-color: var(--footer-color);
  position: absolute;
  width: 1600px;
  height: 252px;
}
.logo-studio-footer {
  color: var(--main-bcg-color);
}
.footer-nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.footer-nav {
  display: flex;
  margin-right: 215px;
  margin: 20px 1154px 60px 215px;
  /* : 215px;
  margin-bottom: 60px; */
  display: flex;
  flex-direction: column;
}
.color-footer-100 {
  color: rgba(255, 255, 255, 1);
}
.color-footer-60 {
  color: rgba(255, 255, 255, 0.6);
}
